.vscode
.idea
__pycache__
.venv
.env
.envs
.env.lock
.cache/

vosk_models/
yarn-error.log
node_modules
*.ipynb
dist
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
*.swp
*.swo
*.swn
*.swnb
*.swp
*.swx
*.swx~
*.swo
*.swn
*.mp3